<?xml version="1.0" ?>
<robot name="hobart_rough">
  <!--
  Rough dimensions (+- 0.5cm) for Hobart AM Ventless washing machine.

  Axes:
    +X From Back to Front (Depth)
    +Y From Right to Left (Width)
    +Z From Bottom to Top (Height)

  Origin:
    X=0, Y=0 is center of washer, lower cabinet.
    Z=0 is bottom of washer, at ground.

  Components (D x W X H in cm)
    Lower Cabinet:
      67 x 68.5 x 67.5
      Bottom to Ground (Z): 18
      Backing behind Back of Upper Cabinet (X): 4
    Upper Cabinet:
      59.5 x 63 x 62.5
      Bottom to Top of Lower Cabinet at Full Extension (Z): 43.5
      Back to Backing of Lower Cabinet (X): 1.5
      Centered on Lower Cabinet in Y-axis
    Bar:
      Radius: 2.5
      Width, Radial Center to Radial Center (Y): 72
      Length of bar on Side (angled axis): 88
      Top of Lower Cabinet to Radial Center of Bar, at Back (Z): 49.5
        Assume Bar starts at middle of Backing (X)
      Top of Lower Cabinet to Radial Center of Bar, 52.5 along bar (Z): 75
      Angle: ~30 degrees
  -->
  <link name="floor_pieces"/>

  <joint name="floor_lower_joint" type="fixed">
    <origin xyz="0 0 0.18"/>
    <parent link="floor_pieces"/>
    <child link="lower_cabinet"/>
  </joint>

  <link name="lower_cabinet">
    <!-- Origin: Bottom Center -->
    <visual>
      <origin xyz="0 0 0.3375"/>
      <geometry>
        <box size="0.67 0.685 0.675"/>
      </geometry>
    </visual>
  </link>

  <joint name="lower_upper_joint" type="fixed">
    <origin xyz="0.02 0 1.11"/>
    <parent link="lower_cabinet"/>
    <child link="upper_cabinet"/>
  </joint>

  <link name="upper_cabinet">
    <!-- Origin: Bottom Center -->
    <visual>
      <origin xyz="0 0 0.3125"/>
      <geometry>
        <box size="0.595 0.63 0.625"/>
      </geometry>
    </visual>
  </link>

  <joint name="lower_bar_joint" type="fixed">
    <!-- Place at Lower Cabinet's Back, but at the same level as the
    Upper Cabinet. Angle by ~30 deg. -->
    <origin xyz="-0.315 0 1.17" rpy="0 -0.5236 0"/>
    <parent link="lower_cabinet"/>
    <child link="bar"/>
  </joint>

  <link name="bar">
    <!-- Origin: (X, Z) Interface with Lower Cabinet Back, (Y) Center -->
    <!-- Local Axes: +X extension of bar -->

    <!-- Left Side -->
    <visual>
      <origin xyz="0.44 0.36 0" rpy="0 1.57 0"/>
      <geometry>
        <cylinder radius="0.025" length="0.88"/>
      </geometry>
    </visual>
    <!-- Right Side -->
    <visual>
      <origin xyz="0.44 -0.36 0" rpy="0 1.57 0"/>
      <geometry>
        <cylinder radius="0.025" length="0.88"/>
      </geometry>
    </visual>
    <!-- Front Side -->
    <visual>
      <origin xyz="0.88 0 0" rpy="1.57 0 0"/>
      <geometry>
        <cylinder radius="0.025" length="0.72"/>
      </geometry>
    </visual>
  </link>

</robot>
